@page "/"
@inject IBlazorNotificationService PushService

<div class="content px-4">
    <h3>Blazor Notify Sample App</h3>
    <hr />
    <span>Permission: @permissionType</span><br />
    <span>Subscribed: @subscriptionStatus</span><br />
    <div>
        <div id="dashboard-controls">
            <button class="btn btn-info" @onclick="Subscribe">Subscribe for Push Notifications</button>
            <button class="btn btn-info" @onclick="Unsubscribe">Unsubscribe from Push Notifications</button>
            <br /><hr />
            <span>Topic:</span>
            <input type="text" id="topic" size="32" maxlength="32" @bind="topic" /><br />
            <span>Message:</span>
            <input id="notification" size="65"  @bind="message"/>
            <br/>
            <button class="btn btn-primary" @onclick="SendNotification">Send Push Notification</button>
        </div>
    </div>
</div>

@code{
    private PermissionType permissionType;
    private SubscriptionStatus subscriptionStatus;

    private string topic="Test Message";
    private string message="Message body test goes here.";

    protected override void OnInitialized()
    {
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                await Refresh();
            }
        }
        catch (Exception ex)
        {
            Log.Logger.Error("OnAfterRenderAsync",ex);
        }
    }

    private async Task Subscribe()
    {
        await PushService.Subscribe();
        await Refresh();
    }

    private async Task Unsubscribe()
    {
        await PushService.UnSubscribe();
        await Refresh();
    }

    private async Task SendNotification()
    {
        await PushService.NotifyAsync(topic,message);
        await Refresh();
    }

    private async Task Refresh()
    {
        permissionType = await PushService.RequestPermissionAsync();
        subscriptionStatus = await PushService.GetSubscriptionStatus();
        await InvokeAsync(() => { StateHasChanged(); });
    }
}
